{% extends 'IntraGov/IntraGov_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container intragov" id="politiciansDatabasePage">
        <table class="table-striped">
            <tr>
                <th class="col-md">Name</th>
                <th class="col-md">State/District</th>
                <th class="col-md">Party</th>
                <th class="col-md">House</th>
                <th class="col-md">Positions</th>
                <th class="col-md">Year Elected</th>
                <th class="col-md">Details</th>
            </tr>
            {% for politician in Politicians %}     <!-- creates a new row for each jersey in the collection -->
                <tr>
                    <td class="col-md">{{politician.name}}</td>
                    <td class="col-md">{{politician.state_or_district}}</td>
                    <td class="col-md">{{politician.party}}</td>
                    <td class="col-md">{{politician.house}}</td>
                    <td class="col-md">{{politician.positions}}</td>
                    <td class="col-md">{{politician.year_elected}}</td>
                    <td class="col-md"><a href="{{politician.pk}}/Details"><button class="primary-light-button" id="info-button">Details</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'addPolitician' %}'">Add to Database</button>

    </div>
</section>
{% endblock %}
